
$color-red: #FF0000;

.componentContainer{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  .component{
    margin: 1rem;
    flex: 50%;
    text-align: center;
  }
}
.error{
  color: $color-red;
}
