<mat-card class="location">
  <mat-card-title>
    <h1>Geolocation</h1>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="!isLoading; else geoLoading" >
      <div *ngIf="permisionMSG">
        <h2 class="error">{{permisionMSG}}</h2>
      </div>
      <button
          mat-flat-button color="primary"
         (click)="getPosition()"
      >
        Locate
      </button>
      <div class="location" *ngIf="lat && long">
          <h3>Your GPS Location :</h3>
            <mat-divider></mat-divider>
            Longitude: {{long}}
            <mat-divider></mat-divider>
            Latitude: {{lat}}
      </div>
    </div>
    <ng-template #geoLoading>
      <mat-spinner>Loading Geo Data...</mat-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
